<header class="w-full h-24 flex items-center justify-between px-10">
    <a routerLink="/">
        <img src="assets/logo.svg" alt="">
    </a>

    <ul class="flex items-center gap-11 text-sm font-bold text-[#C4C4C4]">
        <li><a routerLink="/" routerLinkActive="text-[#1f1f1f]" [routerLinkActiveOptions]="{ exact: true }">Inicio</a></li>
        <li><a routerLink="/games" routerLinkActive="text-[#1f1f1f]">Juegos</a></li>
        <li><a routerLink="/chat" routerLinkActive="text-[#1f1f1f]">Chat</a></li>
        <li><a routerLink="/who-i-am" routerLinkActive="text-[#1f1f1f]">Quien soy</a></li>
    </ul>

    @if ((currentUser$ | async) == null) {
        <div>
            <a routerLink="/login" pButton [text]="true">Iniciar sesión</a>
            <a routerLink="/register" pButton>Registrarse</a>
        </div>
    } @else {    
        <div>
            <p-menu #menu [model]="items" [popup]="true">
                <ng-template pTemplate="start">
                    <div class="flex flex-col items-center gap-2 py-6">
                        <p-avatar 
                            image="{{ (currentUser$ | async)?.photoURL }}" 
                            size="large" 
                            shape="circle"
                        />
                        <div>
                            <p class="font-medium text-center">{{ (currentUser$ | async)?.displayName }}</p>
                            <p class="text-sm text-[#808080] text-center">{{ (currentUser$ | async)?.email }}</p>
                        </div>
                    </div>
                </ng-template>
                <ng-template pTemplate="item" let-item>
                    @if (item.route) {
                        <a [routerLink]="item.route" class="p-menuitem-link">
                            <span [class]="item.icon"></span>
                            <span class="ml-2">{{ item.label }}</span>
                        </a>
                    } @else {
                        <button class="w-full flex items-center gap-2.5 p-menuitem-link">
                            <span [class]="item.icon"></span>
                            <span>{{ item.label }}</span>
                        </button>
                    }
                </ng-template>
            </p-menu>
            <p-avatar 
                image="{{ (currentUser$ | async)?.photoURL }}" 
                (click)="menu.toggle($event)"
                size="large" 
                shape="circle"
            />
        </div>
    }
</header>