<div class="absolute bottom-0 left-0 right-0 z-50 w-full h-[calc(100vh-96px)] flex items-center justify-center bg-[#f4f4f4] bg-opacity-50 backdrop-blur-[20px]">
    <div class="absolute bottom-[calc(50vh-130px)] w-[520px] p-8 rounded-2xl flex flex-col items-center bg-white drop-shadow-[0_0_50px_rgba(196, 196, 196, 0.25)]">
        <h1 class="text-lg font-semibold">Debes iniciar sesión</h1>
        <p class="text-base text-[#808080] mt-2 mb-10 text-center">Parece que no has iniciado sesión. Para acceder a esta página, necesitas estar autenticado. Por favor, inicia sesión para desbloquear el contenido y continuar.</p>
        <a routerLink="/login" pButton [outlined]="true">Iniciar sesión</a>
    </div>
</div>