<div class="w-full h-screen grid place-content-center">
    <form class="w-96">
        <h1 class="text-2xl font-semibold text-center">Iniciar sesión</h1>
        <div class="flex flex-col">
            <label for="email" class="text-sm font-medium">Correo electronico</label>
            <input 
                id="email"
                pInputText
                class="w-full"
                placeholder="Correo electronico"
            />
        </div>
        <div class="flex flex-col mt-6">
            <label for="password" class="text-sm font-medium">Contraseña</label>
            <input 
                id="password"
                pInputText
                class="w-full"
                placeholder="Contraseña"
            />
        </div>

        <button type="submit" pButton class="mt-8 w-full">Iniciar sesión</button>
    </form>
</div>
