<div class="w-full h-screen grid place-content-center">
    <form class="w-96">
        <div class="flex justify-center">
            <a routerLink="/">
                <img src="assets/logo.svg" alt="">
            </a>
        </div>
        <h1 class="text-2xl font-semibold text-center my-5">Iniciar sesión</h1>
        <div class="flex flex-col">
            <label for="email" class="text-sm font-medium mb-1">Correo electronico</label>
            <input 
                id="email"
                pInputText
                class="w-full"
                placeholder="Correo electronico"
            />
        </div>
        <div class="flex flex-col mt-6">
            <label for="password" class="text-sm font-medium mb-1">Contraseña</label>
            <input 
                id="password"
                pInputText
                class="w-full"
                placeholder="Contraseña"
            />
        </div>

        <button type="submit" pButton size="large" class="mt-8 w-full">Iniciar sesión</button>

        <p class="text-center text-sm mt-5">¿No tienes una cuenta? <a routerLink="/register">Registrate</a></p>
    </form>
</div>
